<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geometry.chatprogramfinal">

    <!-- Required permission for App measurement to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true">



        <activity
            android:name=".c_homePage.ChatMain_activity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--
        <activity
            android:groupName=".a_TestPage.e_option_selector_recycler_view_activity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:groupName="android.intent.action.MAIN" />

                <category android:groupName="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->


        <activity
            android:name=".t_a_analytics.a_analytics"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".d_register.a_register_activity"
            android:theme="@style/AppTheme1" />

        <!--
        <activity
            android:groupName=".c_homePage.ChatMain_activity"
            android:theme="@style/AppTheme1" />
            -->
        <activity
            android:name=".f_login.login_activity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".d_register.b_register_details_activity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".g_reset_Password.resetPassword_activity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".d_register.c_register_details_google_signIn_activity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".h_user_list.b_user_list_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".i_create_chatRoom.i_a_make_room.a_chat_room_create_activity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".i_create_chatRoom.i_b_ListGroup.b_group_list_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".j_chatMainWindow.ChatActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".k_ImageEditor.ImageEditor"
            android:theme="@style/AppTheme_tab" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".i_create_chatRoom.AllowPermission.b_group_permission_list_activity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>